* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}

.container {
  height: 100vh;
  font-size: 32px;
  /* height: 100%; */
  padding: 28px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  text-align: center;
  gap: 20px;
}

.instrumentBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid black;
  border-radius: 10px;
}

#violinBox {
  background-image: url(/src/images/strad-violin-vieuxtemps-hauser-small.jpeg);
}

#violaBox {
  background-image: url(/src/images/strad-viola-cassavetti-small.jpeg);
}

#celloBox {
  background-image: url(/src/images/strad-cello-amaryllis-fleming-small.jpeg);
}

#bassBox {
  background-image: url(/src/images/maggini-bass-delmas-small.jpeg);
}

#container {
  display: flex;
  justify-content: center;
}

.inner {
  position: absolute;
}

@media (max-width: 800px) {
  .container {
    font-size: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}
