:root {
  --grey: rgb(210, 210, 210);
  --selectGreen: rgb(63, 255, 0);
  --border-radius: 5px;
  --widget-height: 36px;
  --width-3-column: 31.5%;
}

.menus {
  position: fixed;
  background: rgba(160, 180, 200, 0.9);
  height: 100vh;
  width: 300px;
  top: 0;
  text-align: left;
  z-index: 1;
  transition: 0.8s;
  overflow: auto;
}

#settings {
  left: -300px;
}

#menu {
  /* right: 0; */
  right: -300px;
}

.open-menu {
  transition: 0.8s;
  display: none;
}

.header {
  color: white;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-template-columns: repeat(3, 1fr); */
  /* padding: 5px; */
  background: rgba(0, 10, 20, 0.5);
}

.menu-header {
  display: flex;
  flex-direction: row-reverse;
}

.bars-container {
  cursor: pointer;
  /* background-color: red; */
  padding: 10px;
  position: fixed;
}

/* .settings-bars {
} */

.menu-bars {
  right: 0;
}

.x-container {
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bar {
  background-color: black;
  width: 30px;
  height: 2px;
  margin: 6px 0;
}

.bar1 {
  margin-top: 0;
}

.bar2 {
}

.bar3 {
  margin-bottom: 0;
}

.bar4 {
}

.x {
  background-color: white;
  width: 20px;
  height: 3px;
  position: absolute;
}

.x1 {
  rotate: 45deg;
}

.x2 {
  rotate: -45deg;
}

/* .open-menu {
  display: none;
} */

.widget {
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 5px;
  border-bottom: 1px solid black;
}

.widget-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .widget-2 {
  grid-template-columns: 34% 66%;
} */

/* .widget-4 {
  row-gap: 5px;
} */

.widget-label {
  font-weight: 600;
  display: flex;
  align-self: center;
  margin-right: 12px;
  height: var(--widget-height);
  align-items: center;
}

/* .widget-content {
  display: flex;
  row-gap: 5px;
} */

.widget-content a {
  color: black;
  list-style: none;
}

.alt-1 {
  display: grid;
  grid-template-columns: 40% 60%;
}

.alt-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.btn-container {
  display: flex;
  margin: 4px 0;
}

.btn {
  height: var(--widget-height);
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 2px;
  /* grid-template: 1fr / 1fr; */
  /* place-items: center; */
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--grey);
  border-radius: var(--border-radius);
  cursor: pointer;
}

/* margin left 0 first margin right 0 last */

.btn-container .btn:first-of-type {
  margin-left: 0;
}

.btn-container .btn:last-of-type {
  margin-right: 0;
}

.span-2 {
  grid-column: span 2;
}

.selected {
  background-color: var(--selectGreen);
}

.btn-container input {
  all: unset;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.arrow-container {
  display: grid;
  flex-grow: 1;
  flex-basis: 0;
  /* background-color: yellow; */
  /* padding: 5px 10px; */
}

.arrow {
  /* grid-column: 2; */
  width: 0;
  height: 0;
  border: 10px solid transparent;
  cursor: pointer;
  margin: auto;
}

.arrow-up {
  /* grid-row: 1; */
  border-top: 0;
  border-bottom: 10px solid black;
  align-self: self-end;
  margin-bottom: 2px;
}

.arrow-down {
  grid-row: 2;
  border-top: 10px solid black;
  border-bottom: 0;
  align-self: self-start;
  margin-top: 2px;
}
