:root {
  --grey: rgb(210, 210, 210);
  --selectGreen: rgb(63, 255, 0);
  --border-radius: 5px;
  --widget-height: 36px;
  --width-3-column: 31.5%;
}

.menus {
  position: fixed;
  background: rgba(160, 180, 200, 0.9);
  height: 100vh;
  width: 300px;
  top: 0;
  text-align: left;
  z-index: 1;
  transition: 0.8s;
  overflow: auto;
}

#settings {
  left: -300px;
}

#menu {
  /* right: 0; */
  right: -300px;
}

.open-menu {
  transition: 0.8s;
  display: none;
}

.header {
  color: white;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-template-columns: repeat(3, 1fr); */
  /* padding: 5px; */
  background: rgba(0, 10, 20, 0.5);
}

.menu-header {
  display: flex;
  flex-direction: row-reverse;
}

.bars-container {
  cursor: pointer;
  /* background-color: red; */
  padding: 10px;
  position: fixed;
}

/* .settings-bars {
} */

.menu-bars {
  right: 0;
}

.x-container {
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bar {
  background-color: black;
  width: 30px;
  height: 2px;
  margin: 6px 0;
}

.bar1 {
  margin-top: 0;
}

.bar2 {
}

.bar3 {
  margin-bottom: 0;
}

.bar4 {
}

.x {
  background-color: white;
  width: 20px;
  height: 3px;
  position: absolute;
}

.x1 {
  rotate: 45deg;
}

.x2 {
  rotate: -45deg;
}

/* .open-menu {
  display: none;
} */

.widget {
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 5px;
  border-bottom: 1px solid black;
}

.widget-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* .widget-2 {
  grid-template-columns: 34% 66%;
} */

/* .widget-4 {
  row-gap: 5px;
} */

.widget-label {
  font-weight: 600;
  display: flex;
  align-self: center;
  /* margin-right: 12px; */
  height: var(--widget-height);
  align-items: center;
  justify-content: space-between;
}

/* .widget-content {
  display: flex;
  row-gap: 5px;
} */

.widget-content a {
  color: black;
  list-style: none;
}

.alt-1 {
  display: grid;
  grid-template-columns: 40% 60%;
}

.alt-2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.btn-container,
.division-container {
  margin: 4px 0;
}

.btn-container {
  display: flex;
}

.division-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4px;
  margin-bottom: 12px;
}

.btn {
  height: var(--widget-height);
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--grey);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.division-btn {
  margin: 0;
}

.btn-white {
  background-color: white;
}

.btn-non-clickable {
  cursor: default;
}

/* margin left 0 first margin right 0 last */

.btn-container .btn:first-of-type {
  margin-left: 0;
}

.btn-container .btn:last-of-type {
  margin-right: 0;
}

.span-2 {
  grid-column: span 2;
}

.btn-container input {
  all: unset;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  width: 100%;
  cursor: text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.arrow-container {
  display: grid;
  flex-grow: 1;
  flex-basis: 0;
  /* background-color: yellow; */
  /* padding: 5px 10px; */
}

.arrow {
  /* grid-column: 2; */
  width: 0;
  height: 0;
  border: 10px solid transparent;
  cursor: pointer;
  margin: auto;
}

.arrow-up {
  /* grid-row: 1; */
  border-top: 0;
  border-bottom: 10px solid black;
  align-self: self-end;
  margin-bottom: 2px;
}

.arrow-down {
  grid-row: 2;
  border-top: 10px solid black;
  border-bottom: 0;
  align-self: self-start;
  margin-top: 2px;
}

.plus-icon-container {
  flex-grow: 0.4;
  flex-basis: 0;
  background-color: white;
  margin: 0;
  margin-left: 2px;
}

.plus-icon-line {
  width: 12px;
  height: 2px;
  background-color: black;
  position: absolute;
}

.plus-icon-line2 {
  rotate: 90deg;
}

.fret-dropdown-container {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: white;
}

.show {
  display: unset;
}

.fret-btn {
  position: relative;
}

.plus-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate45 {
  rotate: 45deg;
}

.fret-choice {
  border-radius: var(--border-radius);
  background-color: var(--grey);
  margin: 4px;
  padding: 4px;
}

.selected {
  background-color: var(--selectGreen);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  width: 100%;
  border-radius: var(--border-radius);
  font-size: inherit;
  text-align: center;
  cursor: pointer;
}

/* ---------- TOGGLE SWITCH ---------- */

.switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--selectGreen);
}

/* input:focus + .slider {
  box-shadow: 0 0 1px var(--selectGreen);
} */

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-takes-50 {
  width: 50%;
}

.todo {
  opacity: 0.2;
  cursor: not-allowed;
}
